.qsys_edit/*
db/*
greybox_tmp/*
incremental_db/*
c5_pin_model_dump.txt
LukaProcessor*
!LukaProcessor.qpf
!LukaProcessor.qsf
!LukaProcessor.sdc
!LukaProcessor.sof
!LukaProcessor.cdf
simulation/modelsim/*
!simulation/modelsim/wave.do
!simulation/modelsim/LukaProcessor_run_msim_rtl_verilog.do